@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #05445e;
}

#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #7ec8e3;
  width: 476px;
  height: 615px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

.card-limit {
  background-color: lightgray;
}

.title {
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 200px;
  text-align: center;
  line-height: 0.9;
  font-weight: 500;
  font-size: 32px;
  margin-top: 60px;
}

.count {
  color: #050a30;
  font-size: 200px;
  font-weight: 600;
  margin-top: 10px;
}

.reset-button {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.4s;
}

.reset-button:hover,
.reset-button:focus {
  opacity: 0.5;
}

.reset-button-icon {
  color: #050a30;
  height: 40px;
  width: 40px;
}

.button-container {
  background-color: #050a30;
  height: 116px;
  width: 100%;
  margin-top: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.count-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}

.count-button:first-child {
  border-right: 1px solid rgba(189, 254, 0, 0.07);
}

.count-button:hover,
.count-button:focus {
  background-color: #189ab4;
}

.count-button-plus {
  border-left: 1px solid rgba(189, 254, 0, 0.15);
}

.count-button-icon {
  color: #7ec8e3;
  opacity: 0.9;
  height: 40px;
  width: 40px;
}

@media (max-width: 680px) or (max-height: 730px) {
  .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .title {
    margin-top: 100px;
  }

  .buttons {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
